body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    min-height: 100vh;
}
header {
    background-color: #406b99;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    
}
