<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistema de protocolo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/geral.css">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="sytlesheet" href="../static/formulario.css">
</head>
<body>
    {% if login %}
    <div class="login-container">
        <h2>Login</h2>
        
        <form method="POST" action="{{ url_for('index') }}" class="login-form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nomeUsuario.label }} {{ form.nomeUsuario(size=32) }}
            </div>
            
            <div class="form-group">
                {{ form.senha.label }} {{ form.senha(size=32) }}<br>
            </div>
            <button type="submit" class="btn btn-primary">entrar</button>
        </form>
        <a href="{{ url_for('cadastraUsuario') }}" class="register-link">cadastrar-se</a>
    </div>
    {% else %}
    <div class="form-container">
        <h2>CADASTRAR USUÁRIO</h2>
        <!--Estes campos estão sendo mostrados desalinhados faça eles ficaram alinhados-->
        <form method="POST" action="{{ url_for('cadastraUsuario') }}" class="login-form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nomeUsuario.label }} {{ form.nomeUsuario(size=32) }}
            </div>

            <div class="form-group">
                {{ form.senha.label }} {{ form.senha(size=32) }}<br>
            </div>
            
            <button type="submit" class="btn btn-primary">cadastrar</button>
        </form>
    </div>
    {% endif %}
    
</body>
</html>