<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/geral.css">
    <link rel="stylesheet" href="../static/formulario.css">
    <link rel="stylesheet" href="../static/tabela.css">
    <link rel="stylesheet" href="../static/login.css">
    
  
</head>
<body>
    <!-- eu quero um header com colorido com uma cor padrão, use a sua criatividade -->
    <header class="custom-header">
        <h1>LISTA DE PROTOCOLOS</h1>
    </header>
   
    <a href="{{url_for('logout')}}" class="custom-btn right-btn">logout</a> <!-- eu quero um link com um formato de botão e que seja colorido e do lado direito da página com uma pequena margem referente ao header-->
    
    <!-- Modal cadastro-->
    <div class="modal fade" id="cadProtocoloModal" tabindex="-1" role="dialog" aria-labelledby="cadProtocoloModal" aria-hidden="true"> <!--coloque uma corzinha padrãozinha só pra não ficar branco-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cadProtocoloModalLabel">Protocolo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('cad_protocolo')}}" method="post" > <!--coloque a mesma cor do modal-->
                        {{formProtoc.hidden_tag()}}
                        <div class="form-group">
                            {{formProtoc.assunto.label}}  {{formProtoc.assunto(size=32)}}
                        </div>     
            
                        <div class="form-group">
                            {{formProtoc.dat.label}}     {{formProtoc.dat(size=32)}}
                        </div>
                            
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-container"> 
        <table> 
            <thead><!-- nessa tabela eu quero que você coloque a mesma cor que combine com o header-->
                <tr>
                    <th>numero</th>
                    <th>assunto</th>
                    <th>data</th>
                    <th>responsavel</th>
                    <th>ação</th>

                </tr>
            </thead>
            <tbody>
                {% for chave, valor in prot_dicts.items() %}
                <tr>
                    <td>{{chave}}</td>
                    <td>{{valor['assunto']}}</td>
                    <td>{{valor['data']}}</td>
                    <td>{{valor['responsavel']}}</td>
                    <td><a href="{{url_for('edit_protocolo', idProtoc=chave)}}" >EDITAR</a></td>   
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <a href="{{url_for('cad_protocolo')}}" data-toggle="modal" data-target="#cadProtocoloModal" class="custom-btn add-protocolo">adicionar protocolo</a> <!-- eu quero esse link do lado esquerdo da página na mesma linha do link anterior e com o formato de botão também -->
    {% if cadastrar == False %}
    <div class="form-separator"></div>
    <!--quero que adicionar um espaço entre a tabela e esse formulário e uma linha para separar-->
    <form action="{{url_for('edit_protocolo', idProtoc=formProtoc.idProtoc.data)}}" method="post">
        {{formProtoc.hidden_tag()}}
        <div class="form-group">
            {{formProtoc.assunto.label}}  {{formProtoc.assunto(size=32)}}
        </div>     
        <div class="form-group">
            {{formProtoc.dat.label}}     {{formProtoc.dat(size=32)}}
        </div>
        <div class="form-group">
            <button type="submit" class="custom-btn blue-btn" >alterar</button>
            <a href="/edit_protocolo/" class="custom-btn red-btn" >cancelar</a>
        </div>
    </form>
    {% endif %}
</body>

